body {
  font: Baskerville;
  margin: 0;
  padding: 0;
  background: url("./images/main.jpg");
  background-repeat: no-repeat;
  color:#202020;
  font-family: 'Cinzel', serif;
  font-size: 24px;
  background-size: 100%;
}
* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
